<header>
    <nav>
        <div onclick="setView('grid')">
            <a href="/"><span>FoundIt</span></a>
        </div>

        
        <div>
            <div id="auth-logged-out" >
                <button onclick="window.location.href='/api/auth/'">Log In</button>
                <button onclick="window.location.href='/api/auth/new'">Join Now</button>
            </div>
            <div id="auth-logged-in" >
                <!-- <button onclick="toggleSidebar('messages')">Message</button>
                <div>
                    <button><span onclick="toggleAuth(false)">Logout</span></button>
                </div> -->
            </div>
        </div>
    </nav>
</header>