<h2>New Post</h2>
<form action="/" method="GET">
    <%- include('./_form_field.ejs') %>

    <div >
        <button type="submit">
            Post
        </button>
    </div>
        <div >
        <a href="/">
            Cancel
        </a>
    </div>
</form>