<h2>New Post</h2>
<form action="/" method="GET">
    <%- include('./_form_field.ejs') %>

    <!-- <button type="submit">Post</button> -->
    <div class="pt-4">
        <button type="submit" class="w-full bg-gray-900 text-white py-4 rounded-2xl font-black uppercase tracking-widest text-xs hover:bg-gray-800 shadow-xl shadow-gray-200 transition-all active:scale-[0.98]">
            Post
        </button>
    </div>
        <div class="pt-4">
        <a href="/" class="w-full bg-gray-900 text-white py-4 rounded-2xl font-black uppercase tracking-widest text-xs hover:bg-gray-800 shadow-xl shadow-gray-200 transition-all active:scale-[0.98]">
            Cancel
        </a>
    </div>
</form>