<h2>New Post</h2>
<form action="/post/new" method="POST" enctype="multipart/form-data">
    <%- include('./_form_field.ejs') %>

    <div >
        <button type="submit" id="post">
            Post
        </button>
    </div>
        <div >
        <a href="/">
            Cancel
        </a>
    </div>
</form>