<main id="view-container">
    <header>
        <h1 id="view-title" >Community Board</h1>
        <p>Helping you reconnect with your belongings.</p>
    </header>

    <section >
        
        <div>
            <button>All Items</button>
            <button>Lost</button>
            <button>Found</button>
        </div>
        
        <div>
            <div>
                <input type="text" placeholder="Search keys, wallets, pets...">
            </div>
            <button onclick="window.location.href='/post/new'">
                <span>Post Item</span>
            </button>
        </div>
    </section>

    <div id="content-area"></div>
</main>