<div>
    <!-- motion of a lost item and a found item meeting at the center then a greeting each other appears to be implemented here -->
    <p>Foundit where founders and looser of items meet to resolve items</p>
    <a href="/index">view items</a>
    <a href="/post">Post an item</a>
</div>