<h2>Contact details of the finder or looser</h2>
<div>
    <a href="mailto:<%= owner.email %>" target="_blank">Email me</a><br>
    <a href="https://wa.me<%=  %>" target="_blank">Chat on whatsApp</a>
</div>