<div>
    <a href="/category/new">New Category</a>
</div>
<div class="view">
    <% categories.forEach(category => { %>
        <section class="items-to-view">
            <h3><%= category.name %></h3>
        </section>
    <% }) %>
</div>
