<div>
    <a href="/category/new">New Category</a>
</div>
<div class="view">
    <section class="items-to-view">
        <% categories.forEach(category => { %>
            <div><% category.name %></div>
        <% }) %>
    </section>
</div>