<form action="/category/new" method="POST">
    <label for="category">Category</label>
    <input type="text" name="name" value="<%= category.name %>" id="">
    <a href="/category">Cancel</a>
    <button type="submit">Create</button>
</form>