<form action="/myPost/verify/<%= post._id %>" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Enter the claimants email" required><br>
    <a href="/myPost">Cancel</a>
    <button type="submit">Verify</button>
</form>